{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Запись на прием к врачу</h1>

    <form action="{% url 'register_record' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fullName" class="form-label">ФИО</label>
            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Введите ваше полное имя" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Введите ваш email" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Телефон</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Введите ваш телефон" required>
        </div>
        <div class="mb-3">
            <label for="doctor" class="form-label">Выберите врача</label>
            <select class="form-select" id="doctor" name="doctor" required>
                <option value="" disabled selected>Выберите врача</option>
                {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }} - {{ doctor.role_doctor }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Дата записи</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Время записи</label>
            <input type="time" class="form-control" id="time" name="time" required>
        </div>
        <div class="mb-3">
            <label for="comments" class="form-label">Дополнительные комментарии</label>
            <textarea class="form-control" id="comments" name="comments" rows="3" placeholder="Введите ваши пожелания или комментарии"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Записаться</button>
    </form>
</div>
{% endblock %}
